*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
# just allow others to have newest version

# YARD artifacts
.yardoc
_yardoc
doc/
